<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lineup App</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <div>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="create-team">Create Team</a></li>
            <li><a href="create-player">Create Player</a></li>
        </ul>
    </div>
    <body>
        <h1>Baseball Lineup App Home Page</h1>
    </body>
</html>